* {
    outline: none;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
}

.container {
    width: 85%;
    margin: 0px auto
}

nav {
    height: 60px;
    background-color: #001c41;
}

nav .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

nav h2 {
    margin: 0px;
    color: white;
}

nav a {
    text-align: center;
    padding: 10px;
    background-color: #f22b00;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
}


#signinButton,
#result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    text-align: center;
}